.back-container{
    position: absolute;
    display: flex;
    align-items: center;
    left: 3.5rem;
    top: 4rem;
}

.text{
    margin-left: 0.25rem;
    color: grey;
    font-weight: 400;
    font-size: 14px;
}

.back-icon{
    width: 1rem;
}

@media screen and (max-width: 414px) {
    .back-container{
        left: 1.75rem;
        top: 4rem;
    }
    .text{
        display: none;
    }
    .back-icon{
        width: 3rem;
    }
}