.password-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
}

.label{
    color: #333333;
    font-weight: 400;
    font-size: 11px;
    margin-left: 1.25rem;
    margin-bottom: 0.5rem;
}

.input-container{
    border: 1.5px solid #6877CA;
    border-radius: 50rem ;
    padding: 0.125rem 0.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field{
    width: 100%;
    outline: none;
    border: none;
    padding: 0 1rem;
    font-weight: 400;
    font-size: 14px;
}

.input-field:focus{
    outline: none;
}

.input-field::placeholder{
    font-weight: 400;
    font-size: 14px;
}

.eye-icon{
    width: 2rem;
}

.forgot-password{
    padding: 0.5rem 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 12px;
    color: #333333;

}

a{
    text-decoration: none;
    color: #6877CA;
    font-weight: 600;
    font-size: 12px;
}